h1{
    color: fuchsia;
}

.balao{
    background-color: cyan;
    border-radius: 50%;
    border: 2px solid black;
    width: 250px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}